html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: #181a1b;
  color: #a0978b;
  font-family: "Roboto", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  height: 38px;
  color: #b8b2a8;
  text-align: center;
  text-transform: uppercase;
  background-color: #575e61e6;
}
.header-navigation {
  width: 1000px;
  height: 38px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
}
.header-navigation__menu-button {
  position: fixed;
  left: 0px;
  margin-left: 10px;
  background: none;
  border: none;
  color: #b8b2a8;
  font-size: 24px;
  cursor: pointer;
}
.header-navigation__text {
  margin: 0;
  line-height: 28px;
}
@media screen and (orientation: landscape) and (max-width: 1366px) {
  .header-navigation {
    width: 100vw;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  .header-navigation {
    width: 100vw;
  }
}

.hamburger-menu {
  width: 0;
  position: absolute;
  top: 38px;
  left: 0;
  background-color: #575e61e6;
  text-align: left;
}
.hamburger-menu--active {
  width: 275px;
  position: absolute;
}
.hamburger-menu__link {
  text-decoration: none;
  color: #b8b2a8;
}
.hamburger-menu__list {
  margin: 5px 20px;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
.hamburger-menu__list-item {
  margin: 0 5px;
}
.hamburger-menu__list-item:hover {
  font-weight: bold;
}

.theory-main {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 38px;
}
@media screen and (orientation: landscape) and (max-width: 823px) {
  .theory-main {
    max-width: 800px;
  }
}
@media screen and (orientation: landscape) and (max-width: 812px) {
  .theory-main {
    max-width: 720px;
  }
}
@media screen and (orientation: landscape) and (max-width: 736px) {
  .theory-main {
    max-width: 700px;
  }
}
@media screen and (orientation: landscape) and (max-width: 680px) {
  .theory-main {
    max-width: 670px;
  }
}
@media screen and (orientation: landscape) and (max-width: 667px) {
  .theory-main {
    max-width: 640px;
  }
}
@media screen and (orientation: landscape) and (max-width: 640px) {
  .theory-main {
    max-width: 600px;
  }
}
@media screen and (orientation: landscape) and (max-width: 568px) {
  .theory-main {
    max-width: 550px;
  }
}
@media screen and (orientation: landscape) and (max-width: 533px) {
  .theory-main {
    max-width: 520px;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  .theory-main {
    max-width: 900px;
  }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
  .theory-main {
    max-width: 700px;
  }
}
@media screen and (orientation: portrait) and (max-width: 540px) {
  .theory-main {
    max-width: 500px;
  }
}
@media screen and (orientation: portrait) and (max-width: 414px) {
  .theory-main {
    max-width: 400px;
  }
}
@media screen and (orientation: portrait) and (max-width: 393px) {
  .theory-main {
    max-width: 380px;
  }
}
@media screen and (orientation: portrait) and (max-width: 375px) {
  .theory-main {
    max-width: 350px;
  }
}
@media screen and (orientation: portrait) and (max-width: 320px) {
  .theory-main {
    max-width: 300px;
  }
}
@media screen and (orientation: portrait) and (max-width: 280px) {
  .theory-main {
    max-width: 265px;
  }
}
.theory-main__heading {
  color: #b8b2a8;
  text-align: center;
  text-transform: uppercase;
}
.theory-main__image {
  margin: 0 auto;
  max-width: 558px;
  height: 266px;
  border-radius: 50px;
  background-position: center center;
  background-image: url("../img/knowledge.jpg");
}
@media screen and (orientation: landscape) and (max-width: 823px) {
  .theory-main__image {
    height: 200px;
  }
}
@media screen and (orientation: landscape) and (max-width: 812px) {
  .theory-main__image {
    height: 150px;
  }
}
@media screen and (orientation: landscape) and (max-width: 640px) {
  .theory-main__image {
    width: 500px;
    height: 100px;
    border-radius: 25px;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  .theory-main__image {
    height: 300px;
  }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
  .theory-main__image {
    height: 200px;
  }
}
@media screen and (orientation: portrait) and (max-width: 414px) {
  .theory-main__image {
    width: 400px;
    height: 100px;
    border-radius: 25px;
  }
}
@media screen and (orientation: portrait) and (max-width: 393px) {
  .theory-main__image {
    width: 380px;
  }
}
@media screen and (orientation: portrait) and (max-width: 375px) {
  .theory-main__image {
    width: 350px;
  }
}
@media screen and (orientation: portrait) and (max-width: 320px) {
  .theory-main__image {
    width: 300px;
  }
}
@media screen and (orientation: portrait) and (max-width: 280px) {
  .theory-main__image {
    width: 260px;
  }
}
@media screen and (orientation: landscape) and (max-width: 823px) {
  .theory-main__image {
    background-position: center 0%;
  }
}
@media screen and (orientation: landscape) and (max-width: 812px) {
  .theory-main__image {
    background-position: center 37%;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  .theory-main__image {
    background-position: center 18%;
  }
}
@media screen and (orientation: portrait) and (max-width: 414px) {
  .theory-main__image {
    background-position: center 37%;
  }
}
.theory-main__link {
  text-transform: uppercase;
  color: #b8b2a8;
}
.theory-main__links {
  text-align: center;
  margin: 20px 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 38px;
}
@media screen and (orientation: landscape) and (max-width: 823px) {
  .main {
    max-width: 800px;
  }
}
@media screen and (orientation: landscape) and (max-width: 812px) {
  .main {
    max-width: 720px;
  }
}
@media screen and (orientation: landscape) and (max-width: 736px) {
  .main {
    max-width: 700px;
  }
}
@media screen and (orientation: landscape) and (max-width: 680px) {
  .main {
    max-width: 670px;
  }
}
@media screen and (orientation: landscape) and (max-width: 667px) {
  .main {
    max-width: 640px;
  }
}
@media screen and (orientation: landscape) and (max-width: 640px) {
  .main {
    max-width: 600px;
  }
}
@media screen and (orientation: landscape) and (max-width: 568px) {
  .main {
    max-width: 550px;
  }
}
@media screen and (orientation: landscape) and (max-width: 533px) {
  .main {
    max-width: 520px;
  }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
  .main {
    max-width: 900px;
  }
}
@media screen and (orientation: portrait) and (max-width: 768px) {
  .main {
    max-width: 700px;
  }
}
@media screen and (orientation: portrait) and (max-width: 540px) {
  .main {
    max-width: 500px;
  }
}
@media screen and (orientation: portrait) and (max-width: 414px) {
  .main {
    max-width: 400px;
  }
}
@media screen and (orientation: portrait) and (max-width: 393px) {
  .main {
    max-width: 380px;
  }
}
@media screen and (orientation: portrait) and (max-width: 375px) {
  .main {
    max-width: 350px;
  }
}
@media screen and (orientation: portrait) and (max-width: 320px) {
  .main {
    max-width: 300px;
  }
}
@media screen and (orientation: portrait) and (max-width: 280px) {
  .main {
    max-width: 265px;
  }
}
.main__text {
  text-align: center;
}

.article {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #a0978b;
  border-radius: 10px;
}
.article__heading {
  color: #b8b2a8;
  text-transform: uppercase;
}
.article__link {
  font-weight: bold;
  color: #a0978b;
}
.article__link--capital {
  text-transform: uppercase;
}

.footer__link {
  font-weight: bold;
  color: #a0978b;
}
.footer__text {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
